.nav-area{
    display: flex;
    
}

.name{
    margin-top: 12px;
}

.name h3{
    font-family: "lobster";
}
.nav-area .name h3 span{
    color: #fec13d;
}


.menu{
    margin-left: 50%;
    justify-content: right;
}
.menu ul{
    display: flex;
    margin-top: 30px;
    flex-direction: row;

    
}
li{
    display: inline-block;
    padding: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: black;

    
}