*{
    margin: 0%;
    padding: 0%;
}

.logo{
    float: left;

}
.nav-area{
    float: right;
    margin-top: 20px;
    text-decoration: none;
    padding-right: 3px;

}
.nav-area li{
    display: inline-block;
    color: black;
    padding:10px;
}
.nav-area li:hover{
background-color: coral;
color: blue;
}