*{
    margin: 0%;
    padding: 0%;
}
.header{
    width: 100px;
    margin: 50px;
    border: 1px;
}

.logo img{
    float: left;

}
.header{
    margin-top: 10px;
    padding-right: 330x;
    display: flex;
    flex: row;

    
}
.header li{
    display: flex;
    color: black;
    padding:10px;
}
.header li:hover{
background-color: coral;
color: blue;
}
.city img{
    float: right;
    background-color: coral;
    
}
